<!-- Begin page -->
<div id="layout-wrapper">
  <!-- ========== App Menu ========== -->
  <app-header></app-header>
  <!-- Left Sidebar End -->
  <app-sideBar></app-sideBar>
  <!-- Vertical Overlay-->
  <div class="vertical-overlay"></div>

  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title mb-0">Gestion de Location</h4>
              </div>
              <!-- end card header -->

              <div class="card-body">
                <div id="customerList">
                  <div class="row g-4 mb-3">
                    <div class="col-sm-auto">
                      <div>
                        <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
                          data-bs-target="#showModal">
                          <i class="ri-add-line align-bottom me-1"></i>
                          Ajouter une location
                        </button>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="d-flex justify-content-sm-end">
                        <div class="search-box ms-2">
                          <input type="text" class="form-control search" placeholder="Search..." />
                          <i class="ri-search-line search-icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="table-responsive table-card mt-3 mb-1">
                    <table class="table align-middle table-nowrap" id="customerTable">
                      <thead class="table-light">
                        <tr>
                          <th class="sort" data-sort="ID">ID</th>
                          <th class="sort" data-sort="ID">Date debut</th>
                          <th class="sort" data-sort="ID">Date Fin</th>
                          <th class="sort" data-sort="Day">Séjour</th>
                          <th class="sort" data-sort="Numero IM">Personne</th>
                          <th class="sort" data-sort="Numero IM">Voiture</th>
                          <th class="sort" data-sort="Numero IM">
                            Nom du Client
                          </th>
                          <th class="sort" data-sort="Total price">
                            Prix du Location
                          </th>
                          <th class="sort" data-sort="action">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let item of location" class="list form-check-all">
                        <tr>
                          <td class="customer_name">L-{{ item.id }}</td>
                          <td class="customer_name">
                            {{ item.date.start | date: 'd MMM y' }}
                          </td>
                          <td class="customer_name">
                            {{ item.date.end | date: 'd MMM y' }}
                          </td>
                          <td class="customer_name">{{ item.daytime }} j</td>
                          <td class="customer_name">{{ item.person }} prs</td>
                          <td class="customer_name">
                            {{ item.car.im.toUpperCase() }}
                          </td>
                          <td class="customer_name">{{ item.client.name }}</td>
                          <td class="price">
                            {{ separateNumber(item.cost) }} Ariary
                          </td>
                          <td>
                            <div class="d-flex gap-2">
                              <div class="remove">
                                <button (click)="deleting(item.id)" class="btn btn-sm btn-danger remove-item-btn"
                                  data-bs-toggle="modal" data-bs-target="#deleteRecordModal">
                                  Retirer
                                </button>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="noresult" style="display: none;">
                      <div class="text-center">
                        <h5 class="mt-2">Sorry! No Result Found</h5>
                        <p class="text-muted mb-0">
                          We've searched more than 150+ Orders We did not find
                          any orders for you search.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-end">
                    <div class="pagination-wrap hstack gap-2">
                      <a class="page-item pagination-prev disabled" href="#">
                        Previous
                      </a>
                      <ul class="pagination listjs-pagination mb-0"></ul>
                      <a class="page-item pagination-next" href="#">
                        Next
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

        <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  id="close-modal"></button>
              </div>
              <form #addForm="ngForm">
                <div class="modal-body modalbody">
                  <div class="mb-3" id="modal-id" style="display: none;">
                    <label for="id-field" class="form-label">ID</label>
                    <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                  </div>

                  <div class="mb-3">
                    <label class="form-label mb-1">Début de location</label>
                    <input type="date" name="start" [(ngModel)]="locationData.start" class="form-control"
                      (change)="changeDate()" />
                  </div>

                  <div class="mb-3">
                    <label class="form-label mb-1">Fin de location</label>
                    <input type="date" name="end" [(ngModel)]="locationData.end" class="form-control"
                      (change)="changeDate()" />
                  </div>

                  <div class="mb-3">
                    <label for="customername-field" class="form-label" required>
                      Nombre de personne
                    </label>
                    <input type="number" name="person" [(ngModel)]="locationData.person" id="customername-field"
                      class="form-control" required />
                  </div>

                  <div>
                    <label for="status-field" class="form-label">
                      Choisissez la voiture
                    </label>
                    <select class="form-control" name="car_id" [(ngModel)]="locationData.car_id" data-trigger
                      name="status-field" id="status-field">
                      <option *ngFor="let item of cars" value="{{ item.id }}">
                        {{ item.im }}-{{ item.marque }}[{{ item.place }} pls]
                      </option>
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="exist-field" class="form-label">
                      Vous êtes un client ?
                    </label>
                    <div class="form-check">
                      <input [(ngModel)]="locationData.exist" type="checkbox" name="exist" id="exist-field"
                        class="form-check-input" />
                      <label for="person-field" class="form-check-label">
                        Cochez ici si oui
                      </label>
                    </div>
                  </div>
                  <div *ngIf="locationData.exist">
                    <label for="status-field" class="form-label">
                      Selectionner votre nom
                    </label>
                    <select class="form-control" name="car_id" [(ngModel)]="locationData.client_id" data-trigger
                      name="status-field" id="status-field">
                      <option *ngFor="let item of clients" value="{{ item.id }}">
                        {{item.name}}(+261 {{setPhoneNumber(item.number.slice(-9))}})
                      </option>
                    </select>
                  </div>



                  <div *ngIf="!locationData.exist" class="mb-3">
                    <label for="date-field" class="form-label">
                      Nom du Client
                    </label>
                    <input type="text" id="date-field" name="name" [(ngModel)]="locationData.name" class="form-control"
                      placeholder="ex: Onimalala, ..." required />
                  </div>

                  <div *ngIf="!locationData.exist" class="mb-3">
                    <label for="date-field" class="form-label">Adresse</label>
                    <input type="text" id="date-field" name="adress" [(ngModel)]="locationData.adresse"
                      class="form-control" placeholder="ex: Tanambao ..." required />
                  </div>

                  <div *ngIf="!locationData.exist" class="mb-3">
                    <label for="date-field" class="form-label">
                      Numéro téléphone
                    </label>
                    <input type="text" id="date-field" name="number" [(ngModel)]="locationData.number"
                      class="form-control" placeholder="033, 33, 261, ..." required />
                  </div>


                  <!-- <div>
                    <label for="status-field" class="form-label">Climatiseur</label>
                    <select class="form-control" name="clim" [(ngModel)]="carsAdd.clim" data-trigger name="status-field" id="status-field">
                      <option  value="Oui">Oui</option>
                      <option  value="Non">Non</option>
                    </select>
                  </div> -->

                  <!-- <div class="mb-3">
                    <label for="date-field" class="form-label">Description</label>
                    <textarea class="form-control" name="description" [(ngModel)]="carsAdd.description" cols="80" rows="1"></textarea>
                  </div> -->
                </div>

                <div class="modal-footer">
                  <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                      Close
                    </button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" id="add-btn"
                      (click)="addLocation()">
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  id="btn-close"></button>
              </div>
              <div class="modal-body">
                <div class="mt-2 text-center">
                  <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Êtes-vous sûre ?</h4>
                    <p class="text-muted mx-4 mb-0">
                      Vous voulez vraiment supprimer la location de {{locationToDelete.clientName}} (+261
                      {{setPhoneNumber(locationToDelete.clientNumber.slice(-9))}})
                      pour {{locationToDelete.carIm}}?
                      Location du {{locationToDelete.startDate}} au {{locationToDelete.endDate}}
                    </p>
                  </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                  <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
                    Fermer
                  </button>
                  <button type="button" class="btn w-sm btn-danger" id="delete-record" data-bs-dismiss="modal"
                    (click)="deleteLocation(locationToDelete.idToDelete)">
                    J'en suis sûr
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end modal -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->