<!-- Begin page -->
<div id="layout-wrapper">
  <app-header></app-header>
  <!-- ========== App Menu ========== -->
  <!-- Left Sidebar End -->
  <app-sideBar></app-sideBar>
  <!-- Vertical Overlay-->
  <div class="vertical-overlay"></div>

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">
          <p>Statistique</p>
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->

</div>
<!-- END layout-wrapper -->