<nav class="nav">
  <div class="nav-menu ">
      <div class="nav-brand">
          <a href="/" class="">Media Voyage</a>
      </div>
      <div class="toggle-collapse">
          <div class="toggle-icons">
              <i class="fas fa-bars"></i>
          </div>
      </div>
      <div>
          <ul class="nav-items">
              <!-- <li class="nav-link">
                  <a href="/">Home</a>
              </li> -->
              <!-- <li class="nav-link">
                  <a href="#">Category</a>
              </li> -->
              <!-- <li class="nav-link">
                  <a href="#">Archive</a>
              </li>
              <li class="nav-link">
                  <a href="#">Pages</a>
              </li> -->
              <!-- <li class="nav-link">
                  <a href="/cars">Voiture</a>
              </li>
              <li class="nav-link">
                  <a href="#">Contact Us</a>
              </li> -->
          </ul>
      </div>
      <div class="social">
          <!-- <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a> -->
          <a href="/login"><button type="button" class="btn btn-soft-primary waves-effect waves-light">Connexion</button></a>
      </div>
  </div>
</nav>